<!DOCTYPE html>
{%load static%}
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<style>
/* body {
    background:url('{%static 'images/3.jpg'%}');
    background-size:cover;
} */
</style>
</head>
<body>
<form method="post">
<div class="container">
  <div class="jumbotron">
     <h1> Add Movie Form</h1>
     {{form.as_p}}
     {% csrf_token %} 
      <input type="submit" name="submit" class="btn btn-dark" value="Submit"> 
  </div>
</div>
</form>
</body>
</html>