{% extends 'BlogApp/base.html'%}
{%block title_block%}Blog Post {% endblock%}
{%block content_block%}
   {%if tag%}
   <h3> Post tagged with '{{tag.name}}' </h3>
   {%endif%}
  {%for post in post_list %}
<h2 class="pt"> <a href="{{post.get_absolute_url}}">{{post.title |upper}}</a></h2>
    <p> published on {{post.publish}} by {{post.author}}</p>
    <h4>Tags:
       {% for tag in post.tags.all %}
        <span class="tagbox">
        <a href="{%url 'post_list_by_tagname' tag.slug %}" class="btn btn-md btn-primary"> {{tag.name}} </a>
        </span>
<!--        {%if not forloop.last%},{%endif%}-->
      {%endfor%}
    </h4>

  <br>
   {{post.body |title |truncatewords:30|linebreaks}}
    <hr>
  {% endfor%}
  {% include 'BlogApp/pagination.html' with page=post_list%}
{%endblock%}