<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Page Title</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-inverse">
  <a class="navbar-brand" href="#">Durga News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/movie">Movie</a>
      <a class="nav-link" href="/sports">Sports</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
{% block body_block %}

    {% endblock %}
</body>
</html>